/* img {
  border-radius: 5px;
}

.card {
  border-radius: 15px;
  background-color: #4e7e5d;
  box-shadow: 2px 5px 5px 3px grey;
}
.container {
  margin: 0;
  padding: 0;
}

img{
  width: 18.75rem;
  height: 12.5rem;
} */

.card{
  box-shadow: 2px 5px 5px 2px grey;
  color: #4e7e5d;
}

img:hover {
  cursor: pointer;
}

.bottone{
  border-radius: 20px;
}
