<div
  class="
    container
    d-flex
    p-2
    justify-content-center
    flex-column
    align-items-center
  "

><a href="" routerLink="/list">
  <img
    src="../../../assets/90100-succulents_logo.png"
    alt=""
    class="p-5 logo"
    (click)="show()"
  />
</a>
</div>
<!-- <ng-template #list>
  <app-plant-list
    [plantList]="plants"
    [trowBack]="display"
    (backToParent)="cameFromChild()"
  ></app-plant-list>
</ng-template> -->

<!-- <button (click)="show()" class="p-5">
  <img src="../../../assets/90100-succulents_logo.png" alt="" />
</button> -->
<!-- *ngIf="display; else list" -->
